a#contactPageLink{color: #018fc9;font-weight:bold;}

#contact{padding:4% 0;}
#contact h3{font-size: 32px;font-weight: bold;margin-bottom: 2%;}
#contact h1{font-size: 180px;font-weight: bold;opacity: 0.5;color: #018fc9;display: block;position: absolute;width: 143%;text-align: center;margin: 0;padding-top: 0;}
.padWala{}
#contact h2{color: #fff;}
#contact p{color: #fff;}
.blackBg{background-color: #262624;padding: 1% 3%;}
.form{border-radius: 10px;}
.form input[type=text],input[type=email]{margin-bottom:3%;font-family:GraphikRegular;border: 0;border-bottom: 1px solid #666565;border-radius: 0;box-shadow: none;background: none;  color: #fff;}
.form input[type=text]:focus{border-bottom:1px solid #ec3237;}
.form input[type=email]:focus{box-shadow:none;border-bottom:1px solid #ec3237;}
.form textarea{font-family:GraphikRegular;border: 0;height: 130px;border-bottom: 1px solid #666565;border-radius: 0;box-shadow: none;margin-bottom:2%;background: none;color: #fff;}
.form textarea:focus{box-shadow:none;border-bottom:1px solid #ec3237;}
textarea.form-control{height: 130px;}
.form input[type=submit]{font-family:GraphikRegular;display: block;width:30%;color: #fff;font-weight: bold;text-align: center;transition: all ease .7s;font-size: 15px;background: #ffc114;border-radius:4px;letter-spacing:1px;border: 0;}
.form input[type=submit]:hover{background:#fff;color:#ffc114;}
.form input[type=submit]:focus{box-shadow:none;}

#contact h4{color: #000;font-size: 21px;margin-bottom: 4%;margin-top: 16%;}
.address{margin-top: 8%;}
.drop{background: #d3d3d380;padding: 3%;height: 458px;}
.drop p{}
.drop p i{color: #018fc9;display: block;float: left;width: 22px;height: 30px;overflow: hidden;line-height: 22px;}
.drop p span{color: #333;}
ul.socialContact{list-style-type: none;margin-left: -21%;}
ul.socialContact li{float: left;margin-left: 7%;}
ul.socialContact li a{}
ul.socialContact li a i{transition: ease all 1s;color: #3b3c3c;width: 30px;height: 30px;line-height: 26px;font-size: 15px;border: 1px solid #3b3c3c;text-align: center;border-radius: 50px;}
ul.socialContact li a:hover i{transform: rotate(360deg);color: #018fc9;border: 1px solid #018fc9;}


 iframe{width: 100%;} 
/************* Responsive ******************/
@media (max-width: 480px) {
    .form input[type="submit"] {display: block;width: 36%;}
    #contact h4 {margin-top: 0;}
    .drop {height: 271px;}


}
@media (max-width: 768px) {

}
@media (max-width: 900px) {

}
@media (max-width: 1200px) {

}
