a#reviewsPageLink{color: #018fc9;font-weight:bold;}

#reviews{padding-top:2%;padding-bottom:4%;}
.reviewBx{border: 1px dotted #d3d3d3;padding: 6%;text-align: center;margin-bottom:3%;}
.reviewBx i{color: #018fc9;font-size: 30px;}
.reviewBx p{}
.reviewBx h3{font-size: 15px;font-weight: bold;}
.reviewBx h3 span{color: #018fc9;}