a#submicvPageLink{color: #018fc9;font-weight:bold;}

#submitcv{padding:4% 0;}
#submitcv h2{}
.frmBx{border:1px dotted #d3d3d3;padding:2%;}
.frmBx label{font-family: GraphikRegular;font-size: 17px;font-weight: 100;letter-spacing: 1px;}
.frmBx input[type=text]{height: 46px;font-size: 17px;font-weight: 100;font-family: GraphikRegular;margin-bottom: 3%;}
.frmBx input[type=text]:focus{box-shadow:none;}
.frmBx input[type=email]{height: 46px;font-size: 17px;font-weight: 100;font-family: GraphikRegular;margin-bottom: 3%;}
.frmBx input[type=email]:focus{box-shadow:none;}
.frmBx input[type=file]{margin-bottom:3%;}
.frmBx input[type=file]:focus{box-shadow:none;}
.frmBx input[type=submit]{background:#018fc9;border:1px solid #018fc9;font-family: GraphikRegular;font-size: 16px;line-height: 1;text-transform: uppercase;letter-spacing: 1px;color:#fff;width: 22%;}
.frmBx input[type=submit]:hover{background:none;color:#018fc9;}
.frmBx input[type=submit]:focus{box-shadow:none;}

[hidden]{display: none !important;}