a#aboutPageLink{color: #ffc114;font-weight:bold;}

#about{padding: 38px 41px;background: #ecf5f7;}
#about img{width: 100%;border: 10px solid #fff;-webkit-box-shadow: 0px 0px 36.8px 9.2px rgba(16, 37, 65, 0.1);box-shadow: 0px 0px 36.8px 9.2px rgba(16, 37, 65, 0.1);}
#about h5{font-size: 19px;color:#fec21b;margin: 0px;}
#about h2{margin: 13px 0;}
#about p{font-size: 15px;line-height: 26px;text-align: justify;}
.aboutContent{margin-top: 3%;text-align: center;}


#whatMakesSpecil{padding:4%;}
#whatMakesSpecil img{width: 100%;}
#whatMakesSpecil h5{font-size: 19px;color:#ffc114;text-transform: uppercase;margin: 0;}
#whatMakesSpecil h2{font-size: 28px;margin: 10px 0 15px 0;}
#whatMakesSpecil p{font-size: 16px;line-height: 25px;text-align: justify;}
.specialquality{margin-top: 4%;}
.numBx{}
.numBx h3{padding: 2%;font-size: 72px;font-weight: bold;line-height: 1;margin: 0;opacity: 0.15;}
.firstBx{background-color:#262c31;color:#fff;height: 696px;}
.secondBx {height: 696px;background:#ffc114;background-image: none; background-image: none; background-image: -webkit-linear-gradient(-45deg, #7bb560 0%, #a9c200 100%); background-image: -webkit-linear-gradient(315deg, #7bb560 0%, #a9c200 100%);background-image: linear-gradient(135deg,#cea83c 0%,#b2bd67 100%); filter: ;}
.thirdBx{height: 696px;background-color:#f4f4f4;color:#66686a;}
.fourBx{height: 484px;background:#ffc114;background-image: none; background-image: none; background-image: -webkit-linear-gradient(-45deg, #7bb560 0%, #a9c200 100%); background-image: -webkit-linear-gradient(315deg, #7bb560 0%, #a9c200 100%);background-image: linear-gradient(135deg,#cea83c 0%,#b2bd67 100%); filter: ;}
.fiveBx{height: 484px;background-color:#f4f4f4;color:#66686a;}
.boxContent{padding: 30px 45px;}
/************* Responsive ******************/
@media (max-width: 480px) {
    #aboutUs h2 {font-size: 24px}
    #aboutUs p {letter-spacing: 1px;}
    img.about1 {width: 50%;margin-top: 0;margin-left: 37%;}
    img.about2 {width: 50%;margin-top: -7%;margin-left: 11%;}
    #aboutBanner h2 {font-size: 34px;}
    #aboutBanner p {font-size: 13px;}
    #aboutBanner a {width: 37%;}


}
@media (max-width: 768px) {

}
@media (max-width: 900px) {

}
@media (max-width: 1200px) {

}