#careerHouse{padding:4% 0;}

.blogBox{margin-bottom:5%;box-shadow: 0 5px 8px #f5f3f3;padding: 3%;overflow: hidden;}
.blogBox a{}
.blogBox a:focus{text-decoration:none;}
.blogBox:hover{box-shadow: 0 5px 8px #b9b6b6;}
.blogBox img{width:100%;height: 163px;}
.blogBox h3{margin-top: 2%;color:#000;font-size:30px;}
.blogBox p{color:#000;}
.blogBox p i{color:#151a5a;margin-top: 4%;}
.blogBox p span{color: #aaaaae;font-size: 12px;}
.descriptionPara{font-family: GraphikRegular;color: #000;}

#readBlog{padding:4% 0;}
.readBx{}
.readBx img{width:100%;}

.relatedBlogs{}
.relatedBlogs h3{border: 1px solid #151a5a;margin: auto;padding: 2%;display: block; width: 60%;text-align: center;font-size: 19px;color: #000;}
.recent{margin-top: 4%;padding:1%;border: 1px solid #d3d3d3;}
.recent:hover h4{color: #151a5a;}
.recent img{width: 100%;padding: 2%;}
.recent h4 {font-size: 14px;color: #000;text-align: left;margin-bottom: 0;margin-top: 3px;}
.recent p{color:#666262;font-size: 12px;}