

#collage{padding: 5%;background: #f9f9f9;}
#collage h2{font-size: 32px;text-transform: uppercase;color: #f9b805;letter-spacing: 2px;font-weight: bold;}
#collage span{font-size: 20px;color: #25343b;}
#collage a{padding: 1%;margin-bottom: 5%;display: block; width: 100%;text-align: center;background: #000;color: #fff;font-size: 17px;text-transform: uppercase;letter-spacing: 1px;transition: ease all 1s;margin-top: 1%;}
#collage a:hover{background-color: #f9b805;}


#about{padding: 38px 41px;background: #ecf5f7;}
#about img{width: 100%;border: 10px solid #fff;-webkit-box-shadow: 0px 0px 36.8px 9.2px rgba(16, 37, 65, 0.1);box-shadow: 0px 0px 36.8px 9.2px rgba(16, 37, 65, 0.1);}
#about h5{font-size: 19px;color:#fec21b;margin: 0px;}
#about h2{margin: 13px 0;}
#about p{font-size: 15px;line-height: 26px;text-align: justify;}
.aboutContent{margin-top: 3%;}


/************* Responsive ******************/
@media (max-width: 480px) {
    #collage a {width: 41%;}


}
@media (max-width: 768px) {
    #collage a {width: 41%;}


}
@media (max-width: 900px) {

}
@media (max-width: 1200px) {

}
