a#servicesPageLink{color: #018fc9;font-weight:bold;}

#about{padding:4% 0;}
#about h1{color: #20b6c7;font-size: 21px;text-transform: uppercase;}
#about h2{}
#about p{font-size: 16px;margin-top: 4%;line-height: 145%;color: #424040;font-weight: bold;}
#about a{border: 1px solid #018fc9;padding: 1%;display: block;width:30%;background: #018fc9;color: #fff;text-align: center;border-radius:4px;letter-spacing: 1px;margin-top: 3%;transition: ease all .7s;}
#about a:hover{border: 1px solid #018fc9;background:none;color: #018fc9;}

.box{border: 11px solid #20b6c7;padding: 4% 0;display: block;}
.box img{width: 100%;display: block;margin-left: -6%;box-shadow: 16px 16px 21px #8f8f8f;}
#about ul{list-style-type:circle;}
#about ul li{font-size: 16px;margin-left: -5%;line-height: 27px;font-weight: lighter;}

#aboutBanner{background-image: url("../img/aboutBanner.png");text-align: center;color: #fff;padding: 4% 0;background-attachment: fixed;}
#aboutBanner h2{text-align: center;color: #fff;font-size: 51px;font-weight: bold;}
#aboutBanner p{margin: 2% 0;font-size: 16px;color: #d3d3d3;font-weight: bold;letter-spacing: 1px;}
#aboutBanner a{border-radius: 25px;border: 1px solid #000;padding: 1%;width: 13%;display: block;text-align: center;margin-left: auto;margin-right: auto;margin-top: 3%;background-color: #000;color: #fff;transition: ease all 1s;font-size: 15px;letter-spacing: 1px;}
#aboutBanner a:hover{border: 1px solid #fff;background-color: #fff;color: #000;border-radius: 25px;}


/************* Responsive ******************/
@media (max-width: 480px) {
    #about h4 {font-size: 22px;padding: 2%;margin: 0;}
    #about p {font-size: 14px;padding: 2%;margin: 0;}
    #about h2 {font-size: 26px;padding: 2%;margin: 0;}
    #about a {width: 33%;margin-bottom: 6%;margin-left: 2%}
    .box img{margin-left:0;}
}
@media (max-width: 768px) {

}
@media (max-width: 900px) {

}
@media (max-width: 1200px) {

}