body{
  margin:0;
  text-align: center;
  font-family:sans-serif;

}
.container{
  background-color:black;
  padding-top: 15px;
  display:block;
  height:50px;
  font-weight:100px;
  color:white;
  text-align:center;
}
.top_container{
  background-color:white;
  display:block;
  height:400px;
}
.bottom_container{
  background-color:#F0A500;
  display:block;
  position:relative;
  height:450px;
}
.reach{
  font-weight:bold;
}

p{
  font-weight: 150;
}
.circular{
  border-radius:100%;
}
.in1{
  height:50px;
  width:50px;
}
.i{
  height:50px;
  width:50px;
}
.p{
  height:50px;
  width:50px;
}
.tw{
  height:50px;
  width:50px;
}
.fb{
  height:50px;
  width:50px;
}
.q{
  height:50px;
  width:50px;
}
.table{
    display:block;
    height:305px;
  background-color:#f5cdaa;

}

.table2{
  background-color:#66bfbf;
  margin:5px;
  height:295px;
  width:300px;
  position:absolute;
  right:55%;
}
.table3{
  background-color:#66bfbf;
  margin:5px;
  height:295px;
  width:300px;
  position:absolute;
  left:55%;
}
.triangular{
  border-radius:50px;
}
h2{
  font-size:1.5rem;
  color:#66bfbf;
  weight:normal;
  line-height:2;
}
h3{
  color:#11999e;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#063a8e;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
  margin-top:1%;
  margin-bottom:3%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}
.c{
  width:40%;
  margin:40px auto 60px;
  line-height:2;
}
.get{
  font-size:45px;
  font-weight:100;
}
.contact{
  width:25%;
  margin:40px auto 60px;
  color:#66bfbf;
  line-height:2;
}
.bottom-container{
  background-color:#66bfbf;
  margint-top:1%;
  height:150px;
}
.footer-link2{
  padding:0.5%;
}
.footer-link1{
  padding:0.5%;
}
.footer-link3{
  padding:0.5%;
}
.footer-link4{
  padding:0.5%;
}
.footer-link5{
  padding:0.5;
}
.footer-link6{
  padding:0.5;
}
