body{
  text-align: center;
  color: white;
  background-image: url("bg.jpg");
  background-size: cover;
}


.Login-Form{
  padding: 2.1875rem 0.625rem;
  max-width: 330px;
  margin: auto;
  margin-top: 150px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1{
  text-decoration: underline;
  text-decoration-color: #ad6989;
}

.links {
  color: white;
}

a:hover {
  text-decoration: none;
  color: grey;
}
.transparent-input{
      border: none;
      border-bottom: 1px solid #ffffff;
      background-color: transparent;
      color: white;
      width: 80%;
   }
.transparent-input:focus{
  outline: none;
}
::placeholder {
  color: white;
  opacity: 1;
}

.buttonx {
  padding: 0.5rem 3.125rem;
}

@media (max-width:1234px) {
  .Login-Form{
    margin: auto;
    margin-top: 200px;
    display: block;

  }

}
