a#employerPage span{color:#3240f9;}
a#employerPage img{color:#000;margin-right:3%;}

#employer{padding:2% 0;}
table.tbl{width:100%;}
table.tbl tr{}
table.tbl tr th{font-family:GraphikRegular;border:1px solid #d3d3d3;background:#f9b805;color:#fff;text-align:center;padding:.5%;font-size: 13px;}
table.tbl tr td{font-family:GraphikRegular;border:1px solid #d3d3d3;text-align:center;padding:.5%;font-size: 13px;}
table.tbl tr td a{font-size: 11px;text-transform: uppercase;color: #000;font-weight: bold;transition: ease all 1s;}
table.tbl tr td a:hover{text-decoration: underline;}
table.tbl tr td button{border: 0;background: #151a5a;color: #fff;padding: 0%;width: 21%;border-radius: 4px;font-size: 13px;}
table.tbl tr td button:hover{background:#000;}
table.tbl tr td a:hover{text-decoration:underline;}
